project:
  type: website

website:
  title: "Yijia's Physics Blog"
  navbar:
    left:
      - href: index.qmd
        text: Homepage
      - href: about.qmd
        text: About

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    mathjax: true


